<!DOCTYPE html>
<html>
    <head>
        <title>Family Organiser</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{> nav}}
        <script src=/js/main.js></script>
    </body>
</html>
