<!DOCTYPE html>
<html>
    <head>
        <title>Family Organiser</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{> nav}}

        <h1> dashboard </h1>
        <ul>
            {{#events}}
                <li><a href="/event/{{_id}}">{{title}}{{name}} - {{startTime}}</a></li>
            {{/events}}
            {{^events}}
                <li>No events</li>
            {{/events}}
        </ul>
        <script src=/js/main.js></script>
    </body>
</html>
