<!DOCTYPE html>
<html>
    <head>
        <title>Family Organiser</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{> nav}}

        <h1> index </h1>
        <p>This is a Family Planer website its built in Node.js with express. there is a hosted copy <a href="wad2.arronweir.tech">here.</a> The source code is <a href="https://github.com/scottish3dprinter/WAD2"> here.</a> The readme will tell you how to run the code your self. Any one can register and get a base user here or an admin can make Organiser users who can make events that can be assigend to them selfs or to any other user. Admins can also make more admins. </p>
        <script src="/js/main.js"></script>
    </body>
</html>

